html {
  background-color: #e9ecef;
}

body {
  background-color: #e9ecef;
}

.grey-bg {
  background-color: #e9ecef;
  padding-top: 1%;
}

.white-bg {
  background-color: white;
  border-radius: 30px;
}

.grey-input {
  background-color: #e9ecef;
  border-radius: 30px;
  border: 0;
  width: 100%;
  height: 45px;
  padding-left: 15px;
  padding-right: 15px;
}
.grey-input:focus {
  outline: none !important;
}

.ellipse-2 {
  height: 32px;
  min-width: 32px;
  object-fit: cover;
  position: relative;
}

.ellipse-3 {
  height: 50px;
  left: 24px;
  object-fit: cover;
  top: 24px;
  width: 50px;
}

.custom-file-input::-webkit-file-upload-button {
  visibility: hidden;
}
.custom-file-input::before {
  content: 'Choose Photo';
  display: inline-block;
  background: linear-gradient(top, #f9f9f9, #e3e3e3);
  border: 1px solid #999;
  border-radius: 3px;
  padding: 5px 8px;
  outline: none;
  white-space: nowrap;
  -webkit-user-select: none;
  cursor: pointer;
  text-shadow: 1px 1px #fff;
  font-weight: 700;
  font-size: 10pt;
}
.custom-file-input:hover::before {
  border-color: black;
}
.custom-file-input:active::before {
  background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9);
}